doctype html
html(lang='en')
	head
		title Titre
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
		link(rel="stylesheet", href="assets/styles/main.css")
		script(src="assets/scripts/app.js", type="module" defer)
	body
		section.hero
			.container
				.hero-body
					.container
						h1.title
							| Hello